.obj/*
bin/*
secp256k1-zkp/.libs/
secp256k1-zkp/Makefile
secp256k1-zkp/Makefile.in
secp256k1-zkp/aclocal.m4
secp256k1-zkp/autom4te.cache/
secp256k1-zkp/bench_*
secp256k1-zkp/src/bench_*
secp256k1-zkp/src/.*
**/*.o
secp256k1-zkp/config.log
secp256k1-zkp/build-aux
secp256k1-zkp/tests
secp256k1-zkp/src/libsecp256k1-config.h
secp256k1-zkp/src/libsecp256k1_la-secp256k1.lo
secp256k1-zkp/config.status
secp256k1-zkp/configure
secp256k1-zkp/exhaustive_tests
secp256k1-zkp/libsecp256k1.la
secp256k1-zkp/libsecp256k1.pc
